@page
@model ChernabogApp.Pages.Guides.Bestiary.IndexModel

@{
    ViewData["Title"] = "Бестиарий";
}
<div class="d-flex flex-row justify-content-between">
    <h1>Бестиарий</h1>

    <a asp-page="./Categories/Index" class="nav nav-item">
        Редактировать категории существ
    </a>
</div>
<form asp-page="./Index" method="get">
    <div id="search-form" class="form-actions no-color">
        <p class="d-flex p-2 flex-row">
            <input type="text" name="searchString" value="@Model.CurrentFilter" class="flex-grow-1 rounded-start"/>
            <button type="submit" class="btn-dark rounded-end">
                <i class="fa fa-search" aria-hidden="true"></i>
            </button>
        </p>
    </div>
    <div class="form-actions">
        <p class="d-flex p-2 flex-row">
            <div style="width: fit-content; display: inline">
                <label for="spellLevel" class="p-2">Категория: </label>
                <select id="spellLevel" name="spellLevel" asp-items="Model.Categories" asp-for="SelectedCategory" name="categoryId">
                    <option value="">---</option>
                </select>
            </div>
        </p>
    </div>
</form>
<table class="table table-hover">
    <thead class="table-dark sticky-top">
        <tr>
            <th class="rounded-start">
                @Html.DisplayNameFor(model => model.Monster[0].Name)
            </th>
            <th>
                КЗ
            </th>
            <th>
                КБ
            </th>
            <th>
                СБ
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Monster[0].Skill)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Monster[0].Motion)
            </th>
            <th>
                БД
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Monster[0].Attack)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Monster[0].Damage)
            </th>
            <th class="rounded-end"><a asp-page="Create"><i class="fa fa-add btn btn-outline-light"></i></a></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Monster) {
        <tr>
            <td>
                <a asp-page="./Details" asp-route-id="@item.Id" class="nav-link">
                    @item.DisplayName
                </a>
            </td>
            <td>
                @item.HitDice
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArmorClass)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SaveRoll)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Skill)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Movement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BattleSpirit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Attack)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Damage)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id" title="Редактировать" class="btn btn-dark"><i class="fa fa-edit" aria-hidden="true"></i></a>
                <a asp-page="./Delete" asp-route-id="@item.Id" title="Удалить" class="btn btn-danger"><i class="fa fa-remove" aria-hidden="true"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
